#pic1{

	width:100px;
	height:100px;
	border-radius:10px;

}

#name{

	font-family:Verdana;
	font-size:20px;

}

#email{
	font-family:arial;
}

#p1{
	font-family: Segoe-ui;
	color:blue;
}

#t1{
	border: 1px solid;

}
#t1,td{
	border: 1px solid;
	
}

body{
	background-color: pink;

}